*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121010;
    color: #E8CAC6;
    font-family: 'Czizh-Body';
    overflow-x: hidden;
}
.all__blocks{
    display:flex;
    flex-direction: column;

}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4580px;
    min-height: 4580px;
    max-height: 4580px;

}
.content{
    width: 90vw;
    max-width: 480px;
}
.head__block{
    background: url("./images/head.png");
    min-height: 80vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.lent{
    width: 100%;
    position: absolute;
    display: block;
    top: 80vw;
    z-index: -1;
}
.overlay{
    position: fixed;
    width: 100vw;
    z-index: 5;
    pointer-events: none;
    /* max-height: 4580px;
    min-height: 4580px; */

}
.title{
    margin-top: 5vw;
    display: block;
    font-family: 'Phorssa';
    color: #E2897D;
    font-size: 12vw;
    text-align: center;
    height: 25vw;
    z-index: 5;
}
.annotation__text{
    color: #E8CAC6;
    font-size: 4vw;
    font-family: 'Czizh-Body';
}
#span__colored__1{
    color: #E8CAC6;
}
#span__colored__2{
    color: #F29696;

}

.annotation__text>p{
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.authors{
    font-family: 'Czizh-Body';
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.author__block{
    width: 45%;
    font-size: 4vw;
}
.author__title{
    font-family: 'Phorssa';
    color: #E2897D;
    font-size: 5vw;
    text-align: center;
}
.author__text{
    margin-top: 10px;
}
.author__text #author__bold{
    font-weight: 900;
    font-size: 4vw;
}
ul{
    margin-block-start: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 5px;
}
li{
    list-style-type: none;
    font-size: 4vw;
}


.number__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.number__block .author__text{
    margin-bottom: 20px;
}
.n__block__title{
    font-family: 'Phorssa';
    color: #E2897D;
    font-size: 5vw;
    text-align: center;
}
.n__block__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.n__block__content.b-left{
    flex-direction: row;
}
.n__block__content.b-right{
    flex-direction: row-reverse;
    text-align: right;
}
.n__block__content.centered{
    justify-content: center;
}
.n__block__content img{
    width: 45%;
    height: 45%;
    margin-left: 10px;
    margin-right: 10px;
}
.n__block__content img#first{
    margin-left: -10vw;
    width: 50%;
    mix-blend-mode: color-dodge;
}
#second li{
    font-size: 3vw;
}
a{
    color: #E8CAC6;
    text-decoration: none;
}

.uni_number_block{
    margin-bottom: 70px;
}






.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    z-index: 10;
    margin-bottom: 30px;

    background: url("./images/card_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .cards-grid::after{
    content: '';
    width: 100vw;
    height: 100vw;
    height: 800px;
    top: 427vw;
    left: 0vw;
    position: absolute;
    z-index: -1;
} */

.card-container {
    width: 100%;
    height: 65vw;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    z-index: 10;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
}

.card-front {
    color: white;
}

.card-back {
    color: white;
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

 

.section {
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(50px); /* Начальное смещение вниз */
    transition: opacity 1s ease, transform 1s ease;
}

.section.visible {
    opacity: 1; /* Появление */
    transform: translateY(0); /* Возврат на место */
}


.end__block{

}